body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	background-color: 	#F5F5F5

}

header{
	display:			block;
	height: 			5vh;
	overflow:			auto;
	background-color: 	pink;
	color:				red;
	font-size: 			28px;
	border-color: 		black;
	border: 			2px;
	border-style: 		solid;
}

.container{
	height:				95vh;
	display:			flex;
	border: 			2px black solid;
}

pre{
	background-color: #f8f8f8;
}

pre, textarea{
	width:50%;
	font-family: 		monospace;
	font-size: 			28px;
	margin:				0;
	padding:			10px;
	color:				#222;
}

textarea:focus{
	outline:0;
}

button{
	font-size: 			16px;
	font-family: 		monospace;
	margin-left:		40%;
	border-radius: 		16px;
}

hr{
	margin-left: 5%;
	margin-right:5%;
	color:#DCDCDC;
}

h1{
	display:block;
	height: auto;
	overflow:auto;	
	color:black;
	font-size: 28px;
	text-align: left;
	margin-left: 5%;
}

h2{
	display:block;
	overflow:auto;
	
	color:black;
	font-size: 12px;
	margin-left: 5%;
	margin-bottom: 0%;
	text-align: left;
}


h3{
	display:block;
	overflow:auto;
	margin-left: 5%;
	color:black;
	font-size: 20px;
	text-align: left;
}

input[type=text]{
	height:30px;
	width:30%;
	margin-left:5%;	
	font-size: 12px;
	border: 0px;
	border-bottom: 2px dotted #DCDCDC;

}

input[type=range]{
	width:40%;
	font-size: 18px;
	font-family: monospace;
}

label{
	font-size: 12px;
	margin-left:5%;
}	
.rangeInput{
	width:70%;	
	margin-left:30%;
	margin-right:30%;
	font-size: 18px;
	font-family: monospace;
}

.mathButtons{
	margin-left:20%;
}

.selectButtons{	
	margin-left:35%;
}


.containerBody{
	width:90%;
	height:100%;
	margin-left:5%;
	margin-right:5%;
	background-color:white;
	border-radius: 16px;
	border: 1px solid grey;
}	